* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

li {
  list-style: none;
}

a {
  color: #ffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e6087;
  height: 50px;
}

header .call-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.call-message {
  color: #ffff;
}

.call-message i {
  margin-right: 10px;
}

.ticket-remote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ticket button {
  width: 150px;
  height: 30px;
  text-transform: capitalize;
  color: #1e6087;
  background-color: #ffff;
  border: none;
}

.ticket:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(201, 205, 209);
}

.remote button {
  width: 150px;
  height: 30px;
  text-transform: capitalize;
  color: #1e6087;
  background-color: #ffff;
}

.remote:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(201, 205, 209);
}

.nav-link {
  position: relative;

  height: 20px;
  padding: 30px 110px 50px 0px;
}

.nav-link .ul-menu {
  display: flex;
  justify-content: right;
  gap: 40px;
}

.nav-link .ul-menu li a {
  font-size: larg;
  font-weight: 600;
  color: rgba(2, 2, 2, 0.671);
}

.service-list {
  top: 50%;
  left: 60vw;
  width: 12%;
  display: none;
  background-color: white;
  position: absolute;
  border-top: 2px solid #1e6087;
}

.service-list li {
  margin: 10px;
}

.service-list li a {
  transition: all 0.3s ease-in;
}

.service-list li a:hover {
  color: green;
  padding-left: 10px;
}

.nav-link .dropdown:hover .service-list {
  display: block;
}

.menu-box {
  display: none;
}

main .information-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/banner-sd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.technology h1 {
  color: white;
  width: 50rem;
  line-height: 1.2;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.technology p {
  color: #ffff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2.5px;
  padding-top: 40px;
}

.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.learn button {
  height: 35px;
  width: 170px;
  font-size: 15px;
  font-weight: 600;
  color: #1e6087;

  border: 2px solid white;
}

.learn button:hover {
  cursor: pointer;
  background-image: url(../image/banner-sd.jpg);
  background-size: cover;
  background: transparent;
}

.service-menu {
  padding-top: 30px;
}

.service-menu h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  color: #1e6087;
}

.service-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  color: #1e6087;
}

.service-image img {
  height: 60px;
}

.service-call img {
  height: 60px;
}

.service-call {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  color: #1e6087;
}

.service-image .managed-service h2 {
  padding-top: 20px;
  text-align: center;
}

.managed-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-image .cloud h2 {
  padding-top: 20px;
  text-align: center;

}

.cloud {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-image .website h2 {
  padding-top: 20px;
  text-align: center;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-image .it h2 {
  padding-top: 20px;
  text-align: center;
}

.it {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-call .backup h2 {
  padding-top: 20px;
  text-align: center;
}

.backup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-call .voip h2 {
  padding-top: 20px;
  text-align: center;
}

.voip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-call .network h2 {
  padding-top: 20px;
  text-align: center;
}

.network {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-call .email h2 {
  padding-top: 20px;
  text-align: center;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.solution {
  padding-top: 90px;
}

.solution h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  color: #1e6087;
  padding-bottom: 40px;
}

.solution-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.images img {
  height: 60vh;
  width: 40vw;
}

.sd-tech {
  width: 500px;
}

.sd-tech p {
  padding-bottom: 15px;
  font-size: larger;
  color: #212a30ce;
  word-spacing: 1px;
}

.sd-tech button {
  height: 40px;
  width: 150px;
  background-color: #d32527;
  border: none;
  font-size: large;
  color: #ffffff;
}

.sd-tech button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #d32527;
  border: 2px solid #d32527;
}

.our-client {
  background-image: url(../image/client_says.jpg);
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client h1 {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  padding: 70px 0px 70px 0px;
}

.about-client {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-client p {
  text-align: center;
  line-height: 1.5em;
  font-size: larger;
  color: #ffffff;
  padding: 0px 200px 30px 200px;
}

.sean-k {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.President {
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffff;
  padding-top: 20px;
}

.President p {
  text-align: center;
  line-height: 1.5em;
}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.support h1 {
  font-size: 40px;
  font-weight: 900;
  color: #1e6087;
}

.help-install {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}

.help-sd {
  text-align: center;
  width: 334px;
}

.help-sd h4 {
  color: #393939;
  padding-bottom: 40px;
  word-spacing: 1px;
  line-height: 1.2em;
  font-size: 25px;
  font-weight: 600;
}

.help-sd button {
  height: 40px;
  width: 200px;
  background-color: #d32527;
  border: none;
  font-size: 18px;
  color: #ffff;
}

.help-sd button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #d32527;
  color: #d32527;
}

.install-sd {
  text-align: center;
  width: 462px;
}

.install-sd button {
  height: 40px;
  width: 200px;
  background-color: #d32527;
  border: none;
  font-size: 18px;
  color: #ffff;
}

.install-sd button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #d32527;
  color: #d32527;
}

.install-sd h4 {
  color: #393939;
  padding-bottom: 40px;
  word-spacing: 1px;
  line-height: 1.2em;
  font-size: 25px;
  font-weight: 600;
}

.input-form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../image/touch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.input-form h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 50px 0px 0px 0px;

}

.main-input div {
  padding: 15px 0px;
  background-size: cover;

}

input {
  height: 40px;
  width: 500px;
  color: #ffffff;

}

textarea {
  width: 500px;
  color: #ffffff;
  /* padding: 20px; */
}



.main-input input {

  background-image: url(../image/touch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background: transparent;
  background-size: cover;
}

.main-input textarea {
  background-image: url(../image/touch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background: transparent;
  background-size: cover;


}

.main-input .submits {
  height: 40px;
  width: 200px;
  border: 2px solid white;
  background-color: #ffff;
  color: #1e6087;
  font-size: 20px;
  font-weight: 200;

}

.submits:hover {
  cursor: pointer;
  background-size: cover;
  color: #ffff;
  background-image: url(../image/touch.jpg);
  background: transparent;

}

.main-input input {
  outline: none;
  border: 2px solid white;
  caret-color: white;
}

.main-input textarea {
  outline: none;
  border: 2px solid white;
  caret-color: white;

}

.main-input ::placeholder {
  color: #ffff;
  padding: 20px;
}







@media only screen and (max-width: 900px) {
  header {
    display: none;
  }

  .ul-menu {
    display: none;
  }

  .menu-box {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 0px;
  }

  .nav-link {
    display: none;
  }

  .technology h1 {
    text-align: center;
    color: white;
    width: 400px;
    font-size: 28px;
  }

  .technology p {
    text-align: center;
    letter-spacing: 5px;
    font-size: 15px;
    padding-top: 40px;
  }

  .learn button {
    height: 50px;
    width: 160px;
    font-size: large;
  }

  .service-menu h1 {
    font-size: 30px;
    font-weight: 900;
    color: #1e6087;
  }

  .service-image {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .service-image img {
    padding-top: 20px;
  }

  .service-call {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
  }

  .service-call img {
    padding-top: 20px;
  }

  .solution h1 {
    font-size: 20px;
    padding-bottom: 40px;
  }

  .solution-image {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .images img {
    height: 30vh;
    width: 70vw;
    position: relative;
    left: 60px;
    padding-bottom: 30px;
  }

  .sd-tech {
    position: relative;
    left: 50px;
    width: 300px;
  }

  .sd-tech p {
    font-size: 15px;
    word-spacing: 0.5px;
    letter-spacing: 1.5px;
  }

  .learn-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  .sd-tech button {
    height: 40px;
    width: 150px;
    border: none;
    font-size: large;
  }

  .client {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client h1 {
    font-size: 30px;
    color: #ffffff;
  }

  .about-client p {
    text-align: center;
    color: #ffffff;
    padding: 0px 50px;
  }

  .sean-k {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
  }

  .President {
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffff;
    padding-top: 20px;
  }

  .President p {
    text-align: center;
    line-height: 1.5em;
  }

  .support {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
  }

  .support h1 {
    font-size: 40px;
    font-weight: 900;
    color: #1e6087;
  }

  .help-install {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
  }

  .help-sd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .help-sd h4 {
    color: #393939;
    line-height: 1.2em;
    font-size: 19px;
    font-weight: 600;
  }

  .install-sd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding-bottom: 50px;
  }

  .install-sd h4 {
    color: #393939;
    line-height: 1.2em;
    font-size: 19px;
    font-weight: 600;
    padding-top: 40px;
  }

  .input-form {
    height: 80vh;



    input {
      height: 40px;
      width: 200px;
      color: #ffffff;

    }

    textarea {
      width: 200px;
      color: #ffffff;
    }

    .main-input .submits {
      height: 30px;
      width: 100px;








    }