* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

li {
    list-style: none;
}

a {
    color: #ffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e6087;
    height: 50px;
}

header .call-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.call-message {
    color: #ffff;
}

.call-message i {
    margin-right: 10px;
}

.ticket-remote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ticket button {
    width: 150px;
    height: 30px;
    text-transform: capitalize;
    color: #1e6087;
    background-color: #ffff;
    border: none;
}

.ticket:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(201, 205, 209);
}

.remote button {
    width: 150px;
    height: 30px;
    text-transform: capitalize;
    color: #1e6087;
    background-color: #ffff;
    border: none;
}

.remote:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(201, 205, 209);
}

.nav-link {
    position: relative;

    height: 20px;
    padding: 30px 110px 50px 0px;
}

.nav-link .ul-menu {
    display: flex;
    justify-content: right;
    gap: 40px;
}

.nav-link .ul-menu li a {
    font-size: larg;
    font-weight: 600;
    color: rgba(2, 2, 2, 0.671);
}

.service-list {
    top: 50%;
    left: 60vw;
    width: 12%;
    display: none;
    background-color: white;
    position: absolute;
    border-top: 2px solid #1e6087;
}

.service-list li {
    margin: 10px;
}

.service-list li a {
    transition: all 0.3s ease-in;
}

.service-list li a:hover {
    color: green;
    padding-left: 10px;
}

.nav-link .dropdown:hover .service-list {
    display: block;
}

.menu-box {
    display: none;
}

.information-technology {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/contact_us_banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(41, 40, 40);
    height: 50vh;
}

.technology h1 {
    color: white;
    width: 50rem;
    line-height: 1.2;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.technology p {
    color: #ffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2.5px;
    padding-top: 40px;
}



.input-form {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 50px 0px 0px 0px;
}

.main-input div {
    padding: 15px 0px;
    background-size: cover;
}

input {
    height: 40px;
    width: 500px;
    color: black;
    background: transparent;
}

textarea {
    width: 500px;
    color: black;
    background: transparent;
}

.main-input .submits {
    height: 40px;
    width: 200px;
    color: white;
    background-color: #1e6087;
    font-size: 20px;
    font-weight: 200;
}

.submits:hover {
    cursor: pointer;
}

.main-input input {
    outline: none;
    border: 2px solid #1e6087;
    caret-color: #1e6087;
}

.main-input textarea {
    outline: none;
    border: 2px solid #1e6087;
    caret-color: #1e6087;
}

.main-input ::placeholder {
    color: black;
    font-size: large;
    padding: 10px 0px;

}

.info-sd a {
    color: #1675ac;
}

.info-sd p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.info-sd i {
    color: #1675ac;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-menu h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    color: #1e6087;
}

.service-menu {
    padding-top: 30px;
}

.location-sd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}


.call-for {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;


}

.email-for {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;



}

.support-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;


}

.tech-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: #dfdfdf;
}

.tech-phone a {
    color: #393939;
}

.tech-info img {
    width: 200px;
}

.tech-info h4 {
    width: 300px;
    color: #393939;
    padding: 20px 0px 20px 0px;
}

.tech-info {
    width: 200px;
    padding: 20px 0px 20px 0px;
}

.tech-phone h1 {
    color: #393939;
    padding-bottom: 20px;
}

.tech-phone p {
    padding: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #d32527;
    color: #ffff;
}

.copyright p {
    font-size: 12px;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    header {
        display: none;
    }

    .ul-menu {
        display: none;
    }

    .menu-box {
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px 10px 0px;
    }

    .nav-link {
        display: none;
    }

    .technology h1 {
        text-align: center;
        color: white;
        width: 400px;
        font-size: 28px;
    }

    .technology p {
        text-align: center;
        letter-spacing: 5px;
        font-size: 15px;
        padding-top: 40px;
    }

    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .service-menu h1 {
        color: #1e6087;
        padding: 20px 0px;
        font-size: 30px;
        font-weight: 900;
    }

    .input-form {
        height: 70vh;
    }

    input {
        height: 40px;
        width: 260px;
        color: #ffffff;
    }

    textarea {
        width: 260px;
        color: #ffffff;
    }

    .main-input .submits {
        height: 30px;
        width: 100px;
    }

    .tech-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 350px;
    }

    .tech-info img {
        width: 100px;
    }

    .tech-info h4 {
        width: 200px;
        color: #393939;
        padding: 20px 0px 20px 0px;
    }

    .tech-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tech-info h4 {
        width: 300px;
        text-align: center;
    }

    .tech-info p {
        text-align: center;
        width: 350px;
    }

    .tech-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



    .location-sd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        gap: 15px;
    }


    .call-for {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        gap: 15px;


    }

    .email-for {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        gap: 15px;



    }

    .support-ticket {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        gap: 15px;


    }